<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>球団名</h3>
    <p th:text="${team.teamName}"></p>
    <h3>本拠地</h3>
    <p th:text="${team.headquarters}"></p>
    <h3>発足</h3>
    <p th:text="${team.inauguration}"></p>
    <h3>歴史</h3>
    <p th:text="${team.history}" style="white-space: pre-wrap;"></p>
    <a th:href="@{/back}">戻る</a>
  </body>
</html>
